.search-box {
    padding-top:10px;
    padding-bottom:10px;
}

.landing-image {
    background-image: url(../img/landing1.jpg);
    background-size: 100% 100%;
    height: 700px;
}

#search-container-in-search-result {
    padding: 10px 0px;
    background: #000;
    background: rgba(0,0,0,0.7);
    max-width: 100%;
    color: #fff;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#search-container {
    padding: 10px 0px;
    width: 450px;
    max-width: 100%;
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

#search-container h1 {
    font-size: 38px;
}

#search-container #property-search-box {
    display: block;
    width: 100%;
    clear: both;
    color: #fff;
}

#search-container #property-search-box .btn {
    background-color: #E00000;
    padding: 10px 15px;
    padding-top: 7px;
    margin-top: 2px;
    margin-bottom: 9px;
    font-size: 16px;
    border-radius: 0px;
}

#search-container #property-search-box .input #home-search-box {
    width: 300px;
    font-size: 21px;
    line-height: 25px;
    padding: 7px 15px;
    margin-top: 10px;
    border: 0;
    color: #555;
    transition: all 0.4s;
}

.input-prepend {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}


.text-centered {
    text-align:center;
}

.card-individual {
    padding: 5px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #fff;
    position: relative;
    color: #323232;
    width: 250px;
    height:200px;
    -float:left;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    margin-left: auto ;
    margin-right: auto ;
    box-shadow: 0 5px 8px rgba(0,0,0,0.06)
}

.card-individual .image-container img{
    width: 100%;
    height: 160px;

}

.card-individual .card-image .price{
    border-top: 1px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: dashed;
    border-color: black;
    text-align: center;
}

.card-individual .card-image #price-number{
    font-weight:bold;
    font-size:32.5px;
    color: black !important;
}

.card-individual .card-image .info-contents p{
    color: #878787;
    margin-bottom:0px;
}

.card-individual .card-image .price p{
    color: #878787;
}