{% extends "base.html" %}


{% block content %}

<div class="container bs-docs-container top-container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1 box-padding">
            <div class="row">
                <div class="col-md-12">
                    <div id="error-block" class="centered">
                        <h1>找不到您所需求的页面！</h1>

                        <h2></h2>

                        <p>
                            点击这里 <a href="/">回到主页面</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
