{% extends "base.html" %}
{% load threadedcomments_tags %}


{% block meta %}
<title>商品详情</title>
{% endblock %}

{% block head %}
<link href="{{ STATIC_URL}}css/gig_view.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>

{% endblock %}

{% block content %}
<div class="container top-container">

    <div class="row">
        <div class="col-md-8">
            <h1 class="top-alignment">{{ gig.title }}</h1>

            <p>IN {{ gig.sub_category.sub_category_name }}/ {{ gig.sub_category.category.category_name }}</p>
        </div>
        <div class="col-md-4">
            <button class="btn btn-info btn-lg top-alignment">购买</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-0" id="left-column-box">


            <div class="image-container top-alignment">
                <img src="/static/img/img1.jpeg" alt="/static/img/img1.jpeg">
            </div>

            <div>
                <p>{{ gig.instruction }}</p>
            </div>
        </div>

        <div class="col-md-4" id="right-column-box">
            <h3 class="top-alignment">价格</h3>

            <h2 class="price">${{ gig.price }}</h2>

            <h3>{{ gig.rating_count}}&nbsp买家给予评价</h3>

            <h2>{{ gig.rating_avg }} </h2>

            <button type="button" class="btn btn-info">联系店主</button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <ul id="comments">
                {% get_comment_list for gig as comment_list %}
                {% for comment in comment_list %}
                <li class="cmmnt">
                    <div class="avatar"><a href="javascript:void(0);"><img src="/static/img/default-user-profile.jpeg" alt="DarkCubes photo avatar"></a>
                    </div>
                    <div class="cmmnt-content">
                        <header><a href="javascript:void(0);" class="userlink">{{ comment.user_name }}</a> - <span class="pubdate">posted {{ comment.submit_date }}</span>
                        </header>
                        <p>{{ comment.comment }}</p>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </div>


        <div class="col-md-4">
            <button class="btn btn-info btn-lg top-alignment">购买</button>
        </div>
    </div>
</div>
</div>


{% endblock %}
