{% extends "base.html" %}

{% block meta %}
<title>商品详情</title>
{% endblock %}

{% block head %}
<link href="{{ STATIC_URL}}css/gig_view.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container top-container">

    <div class="row">
        <div class="col-md-8">
            <h1 class="top-alignment">{{ gig.title }}</h1>

            <p>IN {{ gig.sub_category.sub_category_name }}/ {{ gig.sub_category.category.category_name }}</p>
        </div>
        <div class="col-md-4">
            <button class="btn btn-info btn-lg top-alignment">购买</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-0" id="left-column-box">


            <div class="image-container top-alignment">
                <img src="/static/img/img1.jpeg" alt="/static/img/img1.jpeg">
            </div>

            <div>
                <p>{{ gig.instruction }}</p>
            </div>
        </div>

        <div class="col-md-4" id="right-column-box">
            <h3 class="top-alignment">价格</h3>

            <h2 class="price">${{ list_item.price }}</h2>

            <h3>面积</h3>

            <p>{{ list_item.size }} square ft</p>

            <h3>联系方式</h3>

            <p>{{ list_item.contact_info }}</p>


            <h3>地址</h3>

            <p>{{ list_item.house_number }}&nbsp{{ list_item.street }}</p>

            <p>{{ list_item.city }}, {{ list_item.country }}, {{ list_item.zip_code }}</p>

            <button type="button" class="btn btn-info">联系店主</button>

        </div>
    </div>
</div>


{% endblock %}
