{% extends "base.html" %}

{% block meta %}
<title>首页</title>
{% endblock %}

{% block content %}
<div class="landing-image">
    <div id="search-container">
        <h1 class="home-page-slogan">搜寻您所需要的服务</h1>

        <div id="property-search-box">

            <div class="input-prepend input-append input">
                <input id="home-search-box" autocomplete="off" name="home_search_box"
                       placeholder="例如：简历修改、logo设计.." onclick="this.focus(); this.select();">
                <button class="btn btn-red" id="search-button">搜索</button>
            </div>
            <div class="hide">
                <p>中国最大的服务类交易平台</p>
            </div>
        </div>
    </div>

</div>


<div class="middle-banner">
    <h2>热门服务精选</h2>
</div>


<div class="container" id="landing-container">
    {%for list_item_row in list_items %}
    <div class="row-fluid list-container">
        {%for list_item in list_item_row %}
        <div class="col-md-4">
            <div class="card-individual">
                <div class="card-image">
                    <div class="image-container">
                        <a href="/detail-view/?list_item_id={{list_item.id}}"><img src="{{list_item.img.url}}"></a>
                    </div>
                    <div class="info-contents">
                        <p>{{list_item.city}},{{list_item.country}}</p>
                    </div>
                    <div class="price">
                        <p><span id="price-number">${{list_item.price}}</span>&nbsp;每天</p>

                        <p>{{list_item.size}} square ft</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% endblock %}
