{% extends "base.html" %}

{% block meta %}
<title>首页</title>
{% endblock %}

{% block content %}

<div class="landing-image">
    <div id="search-container">
        <h1 class="home-page-slogan">搜寻您所需要的服务</h1>

        <div id="property-search-box">

            <div class="input-prepend input-append input">
                <input id="home-search-box" autocomplete="off" name="home_search_box"
                       placeholder="例如：简历修改、logo设计.." onclick="this.focus(); this.select();">
                <button class="btn btn-red" id="search-button">搜索</button>
            </div>
            <div class="hide">
                <p>中国最大的服务类交易平台</p>
            </div>
        </div>
    </div>
</div>


<div class="middle-banner text-centered">
    <h2>热门服务精选</h2>
</div>


<div class="container" id="landing-container">
    {%for gig in gigs %}
    <div class="col-md-4">
        <div class="container">
            <div class="card-individual">
                <div class="card-image">
                    <div class="image-container">
                        <a href="/detail-view/?gig_id={{gig.id}}"><img src="{{gig.img}}"></a>
                    </div>
                    <div class="info-contents">
                        <p>{{gig.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
